* {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

main {
	background: #346468;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

h1 {
	color: #eee;
}

.controls {
	top: 2rem;
	left: 2rem;
}

.control {
	margin: 2rem;
	color: #fff;
	font-weight: bold;
	display: inline-block;
}

.control label {
	display: block;
	color: rgb(221, 152, 14);
	margin-bottom:.2rem;
	text-transform: uppercase;
}

.control input {
	font-size: 1.2rem;
	padding: .4rem .6rem;
	border-radius: .5rem;
	width: 3rem;
}

.count_button {
	width: 15rem;
	height: 15rem;
	background: #fff;
	border-radius: .4rem;
	border: 2px solid green;
	box-shadow: 1px 1px 4px 2px #557668;
}

.count_button:active {
	box-shadow: none ;
	box-shadow: 1px 1px 1px 1px #557668;
}

.count_button .current_count {
	font-size: 8rem;
	font-weight: bold;
	color: rgb(249, 124, 22);
}
